<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AirplaneMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.bean.Airplane" >
        <id column="Airplane_Type" property="Airplane_Type" jdbcType="VARCHAR" />
        <result column="Airplane_Name" property="Airplane_Name" jdbcType="VARCHAR" />
        <result column="Flight_ID" property="Flight_ID" jdbcType="INTEGER" />
    </resultMap>



    <select id="selectTrip" resultMap="BaseResultMap" >
        select * from airplane
        where Flight_ID=#{id,jdbcType=INTEGER}
    </select>

</mapper>